{{#if signupMessage }}
<div class="alert alert-danger col-md-2 mx-auto text-center mt-2" role="alert">
  {{ signupMessage }}
  <button type="button" class="btn-close ps-1" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

{{#if signinMessage }}
<div class="alert alert-danger col-md-2 mx-auto text-center mt-2" role="alert">
  {{ signinMessage }}
  <button type="button" class="btn-close ps-1" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}