<nav class="navbar navbar-expand-lg navbar-light bg-light rounded-5">
  <div class="container-fluid">
    <a class="navbar-brand ms-5" href="/">Hostal Luba</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto me-5">
        {{#if user}}

        <li class="nav-item ms-5">
          <a class="nav-link active" aria-current="page" href="/users/add"><span class="border border-success rounded-5 border-3 p-2"><i class="fas fa-user-plus m-2"></i>Add a
            user to list</span></a>
        </li>

        <li class="nav-item ms-5">
          <a class="nav-link active" aria-current="page" href="/users/list"><span class="border border-success rounded-5 border-3 p-2"><i class="fas fa-list m-2"></i>User list</span></a>
        </li>
        <li class="nav-item ms-5">
          <a class="nav-link active text-light" href="/logout"><span class="bg-danger rounded-5 border-3 p-2"><i class="fas fa-sign-out-alt m-2 bg-transparent"></i>Logout</span></a>
        </li>
        {{else}}
        <li class="nav-item ms-5">
          <a class="nav-link active text-light" href="/signin"><span class="bg-success rounded-5 border-3 p-2"><i class="fas fa-sign-in-alt m-2 bg-transparent"></i>Signin</span></a>
        </li>
        <li class="nav-item ms-5">
          <a class="nav-link active text-light" href="/signup"><span class="bg-success rounded-5 border-3 p-2"><i class="fas fa-user-tie m-2 bg-transparent"></i>Signup</span></a>
        </li>
        {{/if }}
      </ul>
    </div>
  </div>
</nav>