<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-user fs-2 bg-transparent text-success"></i></span>
                        <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                            aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-envelope fs-2 bg-transparent text-success"></i></span>
                        <input type="mail" class="form-control" placeholder="Your mail" aria-label="Your mail"
                            aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>