<div class="container p-4">
       <div class="row">
              <div class="col-md-8 mx-auto">
                     <div class="card  rounded-5">
                            <div class="card-body">
                                   <form action="/users/add" method="POST">
                                          <div class="elements-group">
                                                 <h4 class="text-success data-title">Personal information</h4>
                                                 <div class="mb-3">
                                                        <label class="form-label data-req"><i class="fas fa-user-alt data-title"></i>First name and last name</label>
                                                        <input type="text" class="form-control data-input" name="userName">
                                                        <div class="form-text data-helper">Names and surnames</div>
                                                 </div>
                                                 <div class="mb-3">
                                                        <label class="form-label data-req"><i class="fas fa-id-card data-title"></i>DNI number</label>
                                                        <input type="number" class="form-control data-input" name="userDNI">
                                                        <div id="emailHelp" class="form-text data-helper"><b>8 digit</b> DNI number</div>
                                                 </div>
                                          </div>
                                          <div class="elements-group">
                                                 <h4 class="text-success data-title">Travel information</h4>
                                                 <div class="mb-3">
                                                        <label class="form-label data-req"><i class="fas fa-sync-alt data-title"></i>Where does it come from?</label>
                                                        <input type="text" class="form-control data-input" name="fromv">
                                                 </div>
                                                 <div class="mb-3">
                                                        <label class="form-label data-req"><i class="fas fa-sync-alt data-title"></i>Where it goes?</label>
                                                        <input type="text" class="form-control data-input" name="tov">
                                                 </div>
                                          </div>
                                          <div class="elements-group">
                                                 <h4 class="text-success data-title">Service information</h4>
                                                 <div class="mb-3">
                                                        <label class="form-label data-req"><i class="fas fa-bed data-title"></i>Room number</label>
                                                        <input type="number" class="form-control data-input" name="room" id="">
                                                        <div id="emailHelp" class="form-text data-helper">Rooms from <b>4</b> to <b>14</b></div>
                                                 </div>
                                                 <div class="mb-3">
                                                        <label class="form-label data-req"><i class="fas fa-money-bill-wave data-title"></i>Amount</label>
                                                        <input type="number" class="form-control data-input" name="amount">
                                                 </div>
                                          </div>
                                          <div class="center"><button type="submit" class="btn btn-success">Register</button></div>
                                   </form>
                            </div>
                     </div>
              </div>
       </div>
</div>